.text {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 8px 8px 0px 8px;
}

a {
    text-decoration: none;
}

.nav-text {
    font-size: 20px;
    margin-left: 25px;
    transition: 0.3s;
}

.nav-text:hover {
    color: rgb(255, 120, 120);
    transition: 0.3s;
}

.active {
    color: rgb(255, 120, 120);
}

nav {
    padding: 20px;
}

.img-money {
    width: 60px;
}

.img-coin {
    width: 40px;
}

.wallet {
    display: flex;
}

.money {
    display: flex;
    background-color: rgb(147, 227, 147);
    min-width: 150px;
    justify-content: space-around;
    border-radius: 15px;
    margin-right: 25px;
}

.money-text {
    color: green;
    font-weight: 700;
}

.coin-text {
    color: rgb(159, 131, 4);
    font-weight: 700;
}

.coin {
    display: flex;
    justify-content: space-around;
    background-color: rgb(247, 245, 166);
    min-width: 150px;
    border-radius: 15px;
    margin-right: 45px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.logo {
    color: rgb(52, 179, 202);
}

.info-text {
    width: 70%;
    text-align: center;
}

.blocks {
    display: flex;
    flex-direction: column;
    padding: 0 175px 0 175px;
}

.info-block {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 40px;
    border-radius: 15px;
    margin-top: 20px;
}

.account {
    background-color: rgb(198, 198, 198);
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.img-account {
    width: 50px;
}

.currency {
    display: flex;
    flex-direction: row;
}

.money-info {
    display: flex;
    background-color: rgb(147, 227, 147);
    width: 80px;
    height: 80px;
    justify-content: center;
    border-radius: 15px;
}

.margin {
    margin-right: 20px;
}

.coin-info {
    display: flex;
    justify-content: center;
    background-color: rgb(247, 245, 166);
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

.money-text {
    color: green;
    font-weight: 700;
}

.coin-text {
    color: rgb(189, 158, 21);
    font-weight: 700;
}

.img-red-arrow {
    width: 50px;
}

.red-arrow {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 159, 159);
    width: 80px;
    height: 80px;
    border-radius: 15px;
}

footer {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.btn-sign-up {
    border: none;
    border-radius: 15px;
    background-color: rgb(195, 240, 255);
    color: rgb(52, 179, 202);
    font-weight: 700;
    height: 40px;
    width: 190px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 15px;
}

.btn-sign-in {
    border: 3px solid;
    border-radius: 15px;
    border-color: rgb(195, 240, 255);
    color: rgb(52, 179, 202);
    background-color: transparent;
    font-weight: 700;
    height: 40px;
    width: 190px;
    text-transform: uppercase;
    cursor: pointer;
}

.info-block-money {
    width: calc(50% - 10px);
}

.info-block-coin {
    width: calc(50% - 10px);
}

.page {
    height: calc(100vh - 72px);
}

.page-text {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.span-block {
    background-color: rgb(255, 120, 120);
    padding: 15px;
    border-radius: 15px;
    color: white;
}

.b1::before {
    content: "";
    position: absolute;
    top: calc(50% + 50px);
    right: 60%;
    width: 50%;
    height: 30%;
    border-radius: 0 15px 15px 0;
    background: rgb(255, 254, 196);
    z-index: -1;
}

.b2::before {
    content: "";
    position: absolute;
    bottom: calc(50% + 50px);
    left: 50%;
    width: 50%;
    height: 30%;
    border-radius: 15px 0 0 15px;
    background: rgb(195, 240, 255);
    z-index: -1;
}

.b3::before {
    content: "";
    position: absolute;
    bottom: calc(50% + 50px);
    left: 15%;
    aspect-ratio: 1 / 1;
    height: 30%;
    border-radius: 15px;
    background: rgb(254, 193, 254);
    z-index: -1;
}

.b4::before {
    content: "";
    position: absolute;
    top: calc(50% + 50px);
    right: 0;
    width: 40%;
    height: 30%;
    border-radius: 15px 0 0 15px;
    background: rgb(228, 255, 229);
    z-index: -1;
}