.text {
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.nav-text {
    font-size: 20px;
    margin-left: 25px;
    transition: 0.3s;
}

.nav-text:hover {
    color: rgb(255, 120, 120);
    transition: 0.3s;
}

.active {
    color: rgb(255, 120, 120);
}

nav {
    padding: 20px;
}

.img-money {
    width: 60px;
}

.img-coin {
    width: 40px;
}

.wallet {
    display: flex;
}

.money {
    display: flex;
    background-color: rgb(147, 227, 147);
    min-width: 150px;
    justify-content: space-around;
    border-radius: 15px;
    margin-right: 25px;
}

.money-text {
    color: green;
    font-weight: 700;
}

.coin-text {
    color: rgb(159, 131, 4);
    font-weight: 700;
}

.coin {
    display: flex;
    justify-content: space-around;
    background-color: rgb(247, 245, 166);
    min-width: 150px;
    border-radius: 15px;
    margin-right: 45px;
}

/* market */